/***** Predefine variables *****/
:root {
    --border_color: #dadada;
    --page_font_family: sans-serif;
    --hover_color: #F2F3F4;
    --active_color: #D7DBDD;
    --canvas_wrapping_color: #F8F9F9;
    --canvas_border_color: #c9c9c9;
    --hr_color: #d0d0d5;
    --input_group_text_color: #FDFEFE;
    --param_name_color: #99A3A4;
    --card_box_shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/***** Header Section *****/
.header {
    /*box-shadow: rgb(99 99 99 / 20%) 0 2px 2px 0;*/
    /*box-shadow: 0 0.5px 2px #d1d1d1;*/
    border-bottom: solid 1px var(--border_color);
    font-family: sans-serif;
}

.header .navbar {
    padding: 4px 0;
    background-color: white;
}

.header .navbar .container-fluid .navbar-nav a {
    font-size: 16px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 28px;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 3px;
}

.navbar-brand:hover, .navbar-brand:hover span {
    color: lightslategray;
}

.dot-org {
    color: #737373;
}

.navbar-text {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
}

.header .navbar .container-fluid .navbar-nav a:hover {
    color: white;
}

@media screen and (max-width: 991px) {
    .front_nav {
        display: none;
    }

    .header .navbar-collapse .navbar-nav button {
        margin-top: 6px;
        justify-content: center;
    }
}

/***** Main Section *****/
.main {
    display: grid;
    grid-template-areas: "canvasSection sideSection";
    grid-template-columns: 7fr 4fr;
    min-height: max(750px, calc(100vh - 66px));
    overflow: hidden;
}

/***** Canvas Section *****/
.canvas_section {
    grid-area: canvasSection;
    border-right: solid 1px var(--border_color);
    display: grid;
    grid-template-areas: "action_sidebar canvas";
    grid-template-columns: 1fr 10fr;
}

.action_sidebar {
    grid-area: action_sidebar;
    border-right: solid 1px var(--border_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}

.action_sidebar .btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 10px 0;
    width: 80%;
}

.action_sidebar .btn:hover {
    background-color: var(--hover_color);
}

.action_sidebar svg {
    width: max(37px, 53%);
}

.custom-tooltip {
    font-family: var(--page_font_family);
}

.canvas_wrapper {
    grid-area: canvas;
    background-color: var(--canvas_wrapping_color);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Style Canvas */
.canvas {
    border: solid 1px var(--canvas_border_color);
    /*border-radius: 10px;*/
    /*box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 100;
}

/************************/
/***** Side Section *****/
/************************/
.sideSection {
    display: grid;
    grid-area: sideSection;
    grid-template-areas: "SideContent SideSelection";
    grid-template-columns: 5fr 1fr;
    font-family: var(--page_font_family);
    height: max(750px, calc(100vh - 66px));
}

.sideContent {
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 1510px) and (min-width: 1310px) {
    .param_panel .shorter_param {
        grid-template-columns: auto !important;
    }

    .param_panel .checkbox_param {
        grid-template-columns: auto !important;
    }
}

@media screen and (max-width: 1310px) {
    .main {
        grid-template-columns: 31fr 2fr;
    }

    .sideContent {
        display: none;
    }

    .canvas_section {
        border-right: none;
    }
}

/**********************/
/***** Algo Panel *****/
/**********************/
.sideContent strong, .offcanvas strong {
    font-size: 23px;
    padding: 15px 15px 5px;
}

.sideContent strong svg, .offcanvas strong svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.algo_panel .flex_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.card-background {
    width: auto;
    height: 110px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: 200px 200px;
    background-position: 50% 50%;
}

.algo_panel .card {
    border: 0;
    width: 180px;
    height: 130px;
    margin: 10px;
    box-shadow: var(--card_box_shadow);
    border: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.algo_panel .card-body {
    padding: 10px 12px;
}

.algo_panel .card:hover {
    cursor: pointer;
    background-color: var(--hover_color);
}

.algo_panel .card:active {
    cursor: pointer;
    background-color: var(--active_color);
}

.algo_panel h5 {
    font-size: 0.9rem;
}

.algo_panel .card-title {
    margin: 0;
}

/***************************/
/***** Parameter Panel *****/
/***************************/
.param_panel .inner_param {

}

.param_panel .inner_param .input-group {
    /*display: none;*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-evenly;*/
}

.param_panel .current_param_name, .param_panel .param_choices {
    display: flex;
    justify-content: center;
}

/***** For shorter param panel *****/
.param_panel .inner_param .shorter_param .input-group {
    margin-bottom: 10px;
    width: 200px;
}

.param_panel .shorter_param {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: flex-start;*/
    /*width: 80%;*/
}

/***** For checkbox param panel *****/
.param_panel .inner_param .checkbox_param .input-group {
    flex-wrap: nowrap;
    margin-bottom: 10px;
    width: 200px;
}

.param_panel .checkbox_param {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

.param_panel .inner_param .checkbox_param span {
    width: inherit;
    overflow: hidden;
}

/***** For longer param panel *****/
.param_panel .inner_param .longer_param .input-group {
    width: fit-content;
    margin-bottom: 10px;
}

.param_panel .inner_param .longer_param .form-control {
    width: 70px;
}

.param_panel .longer_param {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

/***** General *****/
.param_panel .inner_param .input-group-text {
    background-color: var(--input_group_text_color);
}

.param_panel .current_param_name strong {
    font-size: 23px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--param_name_color);
}

.hr-solid {
    border: 0;
    border-top: solid 1px var(--hr_color);
    width: 95%;
    margin: 10px auto;
}

/****************************/
/***** CheckPoint Panel *****/
/****************************/
.history_panel .inner_his {

}

.history_panel .inner_his .card {
    width: 90%;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 0 auto 1rem;
}

.history_panel .inner_his .card-body {
    height: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
}

.history_panel .inner_his ul {
    padding-left: 1rem;
    margin: 0;
    column-count: 2;
}

.history_panel .inner_his .row {
    flex-wrap: nowrap;
}

.history_panel .inner_his .col-4 {
    width: 100px;
    height: 100px;
}

.history_panel .inner_his img {
    max-height: 100%;
    max-width: 100%;
}

.history_panel .inner_his .col-8 {
    flex-grow: 100;
    height: 100px;
}

/***********************/
/***** About Panel *****/
/***********************/
.inner_about {
    font-family: var(--page_font_family);
}

.inner_about iframe {
    border: 3px outset var(--border_color);
}

.inner_about h4, .inner_about h5, .inner_about p {
    margin-left: 15px;
}

.inner_about p, .inner_about li {
    font-size: 110%;
}

.about-libraries {
    color: #555;
    font-size: 13px !important;
}

.video-preview {
    width: 94%;
}

/******************************/
/********** Offcanvas *********/
/******************************/

.sideSection .offcanvas {
    overflow-y: auto;
    width: 450px;
}

/******************************/
/***** Side Selection Bar *****/
/******************************/
.sideSelection {
    padding: 1rem;
    border-left: solid 1px var(--border_color);
}

.sideSelection .nav-link {
    background-color: white;
    color: #7B7D7D;
    border: 1px solid #7B7D7D;
    margin-bottom: 1rem;
}

.sideSelection .nav-link:hover {
    background-color: #7B7D7D;
    color: white;
}

.sideSelection .nav-link.active {
    background-color: #7B7D7D;
    color: white;
}

/******************************/
/***** Scroll Bar Styling *****/
/******************************/
body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar, .offcanvas::-webkit-scrollbar {
    width: 16px;
}

.offcanvas::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb, .offcanvas::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    border-radius: 20px;
    border: 4px solid #ffffff;
    /*scroll-margin-right: 10px;*/
}

::-webkit-scrollbar-thumb:hover, .offcanvas::-webkit-scrollbar-thumb:hover {
    background-color: #E0E0E0;
}
